# First, ignore everything
*
# Now, whitelist anything that's a directory
!*/
Projet/
# And all the file types you're interested in.
!*.tex
!*.c
!*.h
!*.py
!*.png
!*.html
!*.css
!*.javascript
!*.php
!makefile
!README.txt
!.gitignore
!*.java
!.classpath
!.project