body{
    background-color: silver;
    color: #000;
    font-family: sans-serif;
}

h1{
    text-align: center;
    font-size: 3em;
    font-style: italic;
    font-family: 'Gochi Hand', sans-serif;
}


h2{
    font-size: 2em;
    color: green;
    text-decoration: underline;
}

h2::first-letter{
    color:white;
    font-size: 150%;
}